@font-face {
    font-family: 'MYRIADPRO';
    src: url("../fonts/MYRIADPRO-REGULAR.woff")format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'PT Serif';
    src: url("./fonts/PTSerif-Regular.woff")format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@import url('https://fonts.cdnfonts.com/css/queen-love-stories-free');
@import url('https://fonts.cdnfonts.com/css/futura-pt');
:root {
    --container-width: 1440px;
    --sizeindex: calc(1vw + 1vh);
    --secondary:#191919;
    --family: 'MYRIADPRO', sans-serif;
        --font2: 'PT Serif', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ul li {
    list-style: none;
}
body {
 font-family: 'Queen Love Stories free', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #1A1A1A;
    font-size: 20px;
    position: relative;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}
.main__wrapper {
    padding: 0 37px;
}
.header__top {

    border-bottom: 1px solid #fff;
}
.head_menu>ul>li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px!important;
    cursor: pointer;
}
 .header_wrap {
    padding: 5px 0 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
}
.head_menu>ul>li {
    display: inline-block;
    position: relative;
    line-height: 27px;
    margin-right: 50px;
}
.head_menu>ul>li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px!important;
    cursor: pointer;
}
.logo {
margin: 10px 0;
font-family: 'Queen Love Stories free', sans-serif;
letter-spacing: 1.3px;
color: #fff;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
font-family: 'Queen Love Stories free', sans-serif;
    color: rgba(250, 250, 250, .9);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    
}
.foto__stella {
   position: absolute; 
   top: 65px;
   right: 65px;
   cursor: pointer;
transition: transform 0.3s ease;
}
/* ****************  галереии ************************* */
.modal-content {
    width: 900px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.modal-overlay {
    position: relative;
}
.close-img {
    width: 45px;
    position: absolute;
    /* left: 0px; */
    top: 18px;
    z-index: 200;
    right: 18px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ffff;
        cursor: pointer;
}
.nex-img {
    width: 45px;
    position: absolute;
    /* left: 0px; */
    top: 72px;
    z-index: 200;
    right: 18px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ffff; 
        cursor: pointer;  
}
.nav__gall-landscape {
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 330px;
    display: flex;
    gap: 15px;
}
.nav__gall-close {
    width: 30px;
}
.nav__gall-history{
cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 330px;
    display: flex;
    gap: 15px;
}
.nav__gall-history:hover{
transform: scale(1.1);
}
.nav__gall-landscape:hover{
transform: scale(1.1);
}
.nav__gall-artem {
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 330px;
    display: flex;
    gap: 15px;
}
.nav__gall-artem:hover{
transform: scale(1.1);
}

.gallery__artem{
    display: none;
}
.gallery__history {
    display: none;
}
.gallery {
   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 342px;
}
.gallery2 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 2;
}
.gallery3 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 2;
}

.gallery img {
    height: auto;
    width: 160px;
    margin: 10px;
    border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        padding: 5px;
    transition: .3s linear;
    cursor: pointer;
}
.gallery2 img {
    height: auto;
    width: 200px;
    margin: 10px;
    /* box-shadow: 0 0 0 5px #fff, 0 0 0 6px #919191; */
    border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        padding: 5px;
    transition: .3s linear;
    cursor: pointer;
}
.gallery3 img {
    height: auto;
    width: 200px;
    margin: 10px;
    /* box-shadow: 0 0 0 5px #fff, 0 0 0 6px #919191; */
    border-width: 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 5px;
    transition: .3s linear;
    cursor: pointer;
}

.show img {
    opacity: .25;
    pointer-events: none;
}

.active {
    transition: box-shadow .5s linear .5s, top 1s ease-out, left 1s ease-out, transform 1s ease-out, width 1s ease-in, height 1s ease-in;
    box-shadow: 0 0 0 10px #fff;
    filter: drop-shadow(1px 2px 6px #000);
    pointer-events: none;
}

.close {
    position: relative;
    left: 100%;
    height: 20px;
    width: 20px;
    transform: translate(0%, -100%);
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff, 0 0 2px 2px #000;
    font: bold 20px/20px Arial;
    text-align: center;
    background-color: #000;
    color: #fff;
    pointer-events: auto;
    cursor: pointer;
    transition: 1s linear;
    opacity: 0;
}

.active .close:hover {
    transform: translate(0%, -100%) rotate(.5turn);
    transition: 1s ease;
}
.feedbackform {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .feedbackform:hover {  
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
  }
  label {
    color: #fff;
    margin-top: 20px;
    font-family: 'Futura PT', sans-serif; 
  }
  
.feedback__form {
    color: #5e5e5e;
    padding: 5px;
    margin-top: 5px;
    background: none;
    border-bottom: 1px solid #fff !important;
    resize: none;
    border: none;
  }
  ::-webkit-input-placeholder { /* Для браузеров, основанных на WebKit, таких как Chrome и Safari */
    color: #fff; /* Цвет placeholder */
  }
  
  :-moz-placeholder { /* Для Firefox 18- */
    color: #fff; /* Цвет placeholder */
  }
  
  ::-moz-placeholder { /* Для Firefox 19+ */
    color: #fff; /* Цвет placeholder */
  }
  
  :-ms-input-placeholder { /* Для Internet Explorer */
    color: #fff; /* Цвет placeholder */
  }
  .button__form {
        padding: 0 22px;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        line-height: 43px;
        letter-spacing: 1.3px;
        -webkit-border-radius: 22px;
        border-radius: 22px;
        border: 1px solid #fff;
        min-width: 228px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        cursor: pointer;
        text-transform: uppercase;
        background-color: transparent;
        position: relative;
        margin-top: 25px;
  }
  .button__form:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease; 
  }
.pm-generate {
    width: 20px;
}
.slide {
    max-width: 100%; 
    content: "";
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        object-fit: cover; /* Подобно backgroundSize: 'cover', чтобы изображение заполняло всю область */
        object-position: center;
        /* background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; */
    }
    .feedback__container {
        display: flex;
        justify-content: flex-start;
        gap: 90px;
        padding: 40px 200px 40px 40px;
    }
.feedback__contact {
 padding: 15px; 
color: #fff;
margin-top: 20px;
font-family: 'Futura PT', sans-serif;
}
.feedback__contact:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}
.feedback__contact p {
margin-bottom: 15px;
}
.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 15px;
}
.map__google {
    text-align: center;
    margin-bottom: 20px;
}
.social__item-x {
    height: 30px;
    width: 30px;
    display: block; 
    background-size: cover;
    background-image:  url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M13.5222 10.7749L19.4785 4H18.0671L12.8952 9.88256L8.76437 4H4L10.2466 12.8955L4 20H5.41155L10.8732 13.7878L15.2356 20H20L13.5222 10.7749ZM11.5889 12.9738L10.956 12.0881L5.92015 5.03974H8.0882L12.1522 10.728L12.7851 11.6137L18.0677 19.0075H15.8997L11.5889 12.9738Z' fill='%23fff'/%3e %3c/svg%3e");
}
.proxy__link {
    max-width: 180px;
    display: block;
    padding: 9px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 22px;
}
.proxy__link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease; 
}
.sponsor {
    padding: 10px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Futura PT', sans-serif;
}
.sponsor:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}
.sponsor p {
    margin-bottom: 20px;
}
    @media (max-width: 1000px){
    .modal-content {
        width: inherit;
       
    }
    }
    @media (max-width: 900px){
        .feedback__container {
   
            gap: 25px;
    padding: 40px;
            justify-content: center;

        }
    }
    @media (max-width: 700px){
    .feedback__container {
       
        /* justify-content: flex-start; */
        /* gap: 55px; */
        /* padding: 40px 200px 40px 40px; */
        flex-direction: column;
        align-items: center;
    }
    }
 @media (max-width: 600px){
        .foto__stella {
            display: none;
 }
}
@media (max-width: 480px){
    .head_menu>ul>li {
        margin-right: 20px;
    }
    .head_menu>ul>li a {
        font-size: 12px;
    }
    .logo {
      font-size: 16px;
        }
    /* .nav__new {
        font-size: 16px;
    } */
    .nav h2 {
        font-size: 15px;   
    }
}






/* .hero {
    display: flex;
    justify-content: space-between;
}
.hero__left {
    max-height: 800px;
    padding: 42px;
    background: #8E96F8;
  
}
.hero__left-content {
    max-width: 640px;
}
.hero__left-content-heder h1 {
    color: var(--secondary);
    font-size: 70px;
    font-weight: 700;
    line-height: 100%; /* 70px */
    /* letter-spacing: -2.1px;
    margin-bottom: 16px; */
/* }
.hero__left-content-heder p {
    color: #36395E;
font-size: 20px;
font-style: normal;
line-height: 150%; 
}
.hero__left-content-footer-text {
    margin-top: 410px;
    max-width: 380px;
    color: var(--secondary);
font-family: 'Inter', sans-serif;
font-size: 20px;
line-height: 150%; 
}
.hero__left-content-footer-tag {
    margin-top: 32px;
width: 379px;
padding: 21px 32px;
border-radius: 50px;
background: #80F16C;
font-size: 18px;
line-height: 120%; 
letter-spacing: 0.54px;
}
.hero__left-content-footer-tag span {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.54px;
}
.benefits {
    max-width: 1440px;
}
.benefits__content {
   list-style: none;
    padding: 72px 40px;
    display: flex;
    justify-content: space-around;
}
.benefits__content li {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

font-size: 20px;
letter-spacing: 0.6px;
} 

.howorks {
    display: flex;
}
.howorks__right {
    background:  var(--secondary);
  max-height: 800px;
  
}
.howorks__right-content {
    padding: 80px 45px 0 50px;
}
.howorks__right-content-heder h2 {
    color: #FFF;
font-size: 56px;
font-weight: 700;
line-height: 100%; 
letter-spacing: -1.12px;
}
.howorks__right-content-heder-ul {
    margin-top: 32px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
line-height: 215%; 
}
.howorks__right-content-heder-ul span {
    margin-right: 10px;
    color: #8E96F8;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 150%; 
}
.howorks__right-content-footer{
    margin-top: 336px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.howorks__right-content-footer-book {
    color: #000;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    display: flex;
    padding: 20px;
    border-radius: 6px;
    background: #8E96F8;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
}
.howorks__right-content-footer-book:hover {
    opacity: 0.8; 
}
.howorks__right-content-footer-book img {
    margin-left: 180px;
}

.howorks__right-content-footer-sing {
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FFF;
    display: flex;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #FFF;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;  
}
.howorks__right-content-footer-sing:hover {
    opacity: 0.8; 
}
.howorks__right-content-footer-sing img {
    margin-left: 160px;
} */

/* .howorks__left {
    max-width: 720px; 
    max-height: 800px;
} */
/* .howorks-foto {
    width: 720px;
    height: auto;  
}

.faqs__content {
   
    margin: 100px 380px;
}
.faqs__content h2 {
    color: var(--secondary);
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;  
    letter-spacing: -1.12px;
    margin-bottom: 38px;
}
.accordion {
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    color: #696f7c;
}
.accordion-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-title {
    list-style-type: none;
    padding: 18px 0;
    font-weight: 700;
    line-height: 150%;
    color: #242527;
}
.new-list {
    color: #403F3F;
    font-family: 'Inter', sans-serif;
    line-height: 150%; 
    padding-bottom: 32px; 
}
.accordion-icon {
    position: relative;
    font-size: 24px;
    height: 3vh;
    transform: translateY(-50%);
}
.accordion-icon::before {
    display: block;
    top: -17px;
    position: absolute;
    right: 0px;
    padding: 2px 40px 11vh 44vw;
    content: "";
    width: 10px;
    height: 8px;
}
.accordion-body {
    display: none;
}
li {
    list-style-type: none;
}
.footer {
    background: var(--secondary); 
   max-width: 1440px;
}
.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px 
}
.footer__content-sing:hover {
    opacity: 0.8; 
}
.footer__content-sing img {
    margin-left: 160px;
}
.footer__content-sing {
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FFF;
    display: flex;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #FFF;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;  
}
.footer__content-book {
    color: #000;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    display: flex;
    padding: 20px;
    border-radius: 6px;
    background: #8E96F8;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
}
.footer__content-book:hover {
    opacity: 0.8; 
}
.footer__content-book img {
    margin-left: 180px;
} */
/* @media (max-width: 1180px){
    .hero__left-content-heder h1 {
        font-size: 56px;
    } */
    /* .slide {
        width: 592px;
        height: 751px;
    } */
    /* .howorks__left {
        width: 592px;
        height: 751px;
    }
    .howorks-foto {
        width: 592px;
        height: 751px;
    }
    .hero__right {
        width: 592px;
        height: 751px;
    }
    .howorks__right {
        max-height: 751px;
    }
    .howorks__right-content-heder h2 {
        font-size: 49px;
    }
    .howorks__right-content {
        padding: 45px 35px 0 29px;
    }
    .howorks__right-content-footer {
        margin-top: 280px;
        justify-content: space-around;
    }
    .howorks__right-content-footer-sing img {
        margin-left: 63px;
    }
    .howorks__right-content-footer-book img {
        margin-left: 100px;
    }
    .howorks__right-content-footer-book  {
        padding: 18px;
    }
    .faqs__content {
        margin: 81px 292px;
    }
} */
/* @media (max-width: 1024px){
    /* .hero {
       height: 570px; 
    } */
    /* .hero__left {
        max-height: 570px;
        padding: 33px;
    }
    .hero__left-content-heder h1 {
        font-size: 51px;
    }
    .slide {
        width: 512px;
        height: 570px;  
    }
    .hero__right {
        width: 512px;
        height: 570px;
    }
    .hero__left-content-footer-text {
        margin-top: 265px;
    }
    .howorks__left {
        width: 512px;
        height: 570px;
    } */
    /* .howorks__right {
        height: 630px;
    } */
    /* .howorks__right-content {
        padding: 46px 8px 0 28px;
    }
 
    .howorks__right-content-footer {
            margin-top: 128px;
            margin-bottom: 25px;
    }
  
    .howorks__right-content-footer-book img {
        margin-left: 90px;
    }
    .howorks__right-content-footer-book {
        padding: 15px;
        margin-right: 26px;
    }
    .howorks__right-content-footer-sing {
        padding: 12px;
        margin-left: -5px;
    } 
    .howorks__right-content-footer-sing img {
        margin-left: 58px;
    }
    .howorks-foto {
        width: 512px;
        height: 570px;  
    }
    .benefits__content {
        padding: 45px 40px;
    }
    .faqs__content {
        margin: 57px 260px;
    }
    .faqs__content h2 {
        margin-bottom: 23px;
    }
    .footer__content { 
        padding: 65px;
    }
    .footer__content-book img {
        margin-left: 90px;
    }
    .footer__content-book {
        padding: 15px;
        margin-right: 26px;
    }
    .footer__content-sing {
        padding: 12px;
        margin-left: -5px;
    } 
    .footer__content-sing img {
        margin-left: 90px;
    }
}  */
/* @media (max-width: 896px){
    .hero__left-content-heder h1 {
        font-size: 44px;
    }
    .slide {
        width: 440px;
    }
    .howorks__left {
        width: 440px;
        height: 630px;
    }
    .howorks-foto {
        width: 440px;
        height: 630px;
    }
    .hero__right {
        width: 440px;
    }
    .howorks__right-content-footer {
        margin-top: 180px;
    }
    .howorks__right-content-footer-sing img {
        margin-left: 48px;
    }

} */
/* @media (max-width: 844px){
    .hero__left-content-heder h1 {
        font-size: 41px;
    }
    .slide {
        width: 422px;
    }
    .howorks__left {
        width: 422px;
        height: 630px;
    }
    .howorks-foto {
        width: 422px;
        height: 630px;
    }
    .hero__right {
        width: 422px;
    }
    .hero__left-content {
        max-width: 366px;
    }
    .hero__left-content-footer-text {
        margin-top: 220px;
    }
    .howorks__right-content-footer {
        margin-top: 73px;
    }
  
    .howorks__right-content-footer-sing img {
        margin-left: 32px;
    }
    .howorks__right-content-footer-book {
        padding: 12px;
        margin-right: 20px;
    }
    .faqs__content {
        margin: 57px 129px;
    }

}
@media (max-width: 740px){
.slide {
    width: 370px;
}
.howorks__left {
    width: 370px;
    height: 570px;
}
.howorks-foto {
    width: 370px;
    height: 570px;
}
.hero__right {
    width: 370px;
} 
.hero__left-content-heder h1 {
    font-size: 35px;
}
.hero__left-content {
    max-width: 304px;
}
.hero__left-content-heder p {
   
    font-size: 17px;
}  
.hero__left-content-footer-tag {
    width: 315px;
    padding: 12px 16px;
    font-size: 15px;
}
.hero__left-content-footer-tag span {
    font-size: 17px;
}
.benefits__content {
    padding: 41px 13px;
}
.howorks__right-content {
    padding: 27px 16px 12px 28px;
}
.howorks__right-content-footer-book img {
    margin-left: 46px;
}
.howorks__right-content-footer-sing img {
    margin-left: 16px;
}
.howorks__right {
    height: 570px;
}
.howorks__right-content-heder h2 {
    font-size: 34px;
}
.howorks__right-content-footer {
    margin-top: 119px;
}
.footer__content-sing {
    padding: 10px;
}
}
@media (max-width: 450px){
.hero {
    flex-direction: column;
}
.hero__left-content-heder h1 {
    font-size: 37px;
    margin: 10px 0px;
}
.howorks__right-content-footer-book img {
    margin-left: 86px;
}
.howorks__right-content-footer-sing {
    padding: 10px;
}
.hero__left-content {
    max-width: 385px;
}
.howorks {
    flex-direction: column;
}
.slide {
    width: 450px;
    height: 527px;  
}
.hero__right {
    width: 450px;
    height: 570px;   
}
.howorks-foto {
    width: 450px;
    height: 510px;
}
.howorks__right-content-heder h2 {
    font-size: 32px;
}
.hero__left-content-heder {
    text-align: center;
}
.hero__left-content-heder p {
    font-size: 16px;
}
.hero__left-content-footer-text {
    margin-top: 200px;
    font-size: 18px;
    text-align: center;
}
.hero__left-content-footer-tag {
    padding: 21px 25px;
    margin: 32px auto;
    font-size: 16px;
    width: 326px;
}
.hero__left-content-footer-tag span {
    font-size: 16px;
}

.benefits__content {
    padding: 35px 23px;
    flex-direction: column;
}
.benefits__content li {
    flex-direction: row;
    align-items: center;
    gap: 21px;
    font-size: 19px;
    line-height: 280%;
}
.howorks__right-content-footer {
    margin-top: 150px;
    justify-content: flex-start;
    margin-bottom: 33px;
}
.howorks__right-content-footer-sing img {
    margin-left: 48px;
}
.faqs__content {
    margin: 60px 24px;
}
.faqs__content h2 {
    font-size: 32px;
}
.footer__content {
    padding: 45px;
    gap: 1px;
}
.howorks__left {
    width: 450px;
    height: 510px;
}
.footer__content-sing {
    padding: 12px;
    margin-left: -5px;
}
.footer__content-sing img {
    margin-left: 45px;
}
}
@media (max-width: 414px){
    .new-title {
        font-size: 18px;
        }
    .slide {
        width: 414px;
        height: auto;
    }
    .howorks__right-content {
        padding: 35px 28px 0 28px;
    }

.howorks__right-content-heder-ul {
    margin-top: 24px;
      font-size: 18px;
      font-weight: 400;
}
    .howorks__left {
        width: 414px;
        height: 464px;
    }
    .howorks-foto {
        width: 414px;
        height: 464px;
    }
    .howorks__right-content-footer {
        padding: 10px;
        gap: 20px;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 56px;
        justify-content: flex-start;
        margin-bottom: 0px;
    }
    .howorks__right-content-footer-book {
        margin-right: 0px;
        padding: 15px;
        width: 345px;
        height: 64px;
    }
    .howorks__right-content-footer-sing {
        padding: 12px;
        width: 341px;
        height: 64px;
    }
    
    .hero__right {
        width: 414px;
        height: auto;   
    }
    .benefits__content li {
        line-height: 131%;
        flex-direction: column;
        align-items: flex-start;
        gap: 23px;
    }
    .footer__content {
        padding: 32px;
        gap: 20px;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer__content-book {
        padding: 15px;
        margin-right: 0;
    }
    .footer__content-book img {
        margin-left: 190px;
    }
    .footer__content-sing {
        margin-left: 0px;
    }
    .footer__content-sing img {
        margin-left: 177px;
    }
    .howorks__right-content-footer-book img {
        margin-left: 233px;
    }
    .howorks__right-content-footer-sing img {
        margin-left: 209px;
    }
    .benefits__content {
        row-gap: 40px;
    }
    .benefits__content li {
        gap: 15px;
    }
}  
@media (max-width: 390px){
.slide {
    width: 390px;
}
.howorks__left {
    width: 390px;
    height: 440px;
}
.howorks-foto {
    width: 390px;
    height: 440px;
}
.hero__right {
    width: 390px;
}
.hero__left {
    padding: 40px 25px 25px 25px;
}
.benefits__content {
    row-gap: 25px;
}
.footer__content-book img {
    margin-left: 166px;
}
.footer__content-sing img {
    margin-left: 154px;
}
.footer__content-book {
    font-size: 18px;
}
.footer__content-sing  {
    font-size: 18px;
}
}
@media (max-width: 375px){
    .hero__left {
        padding: 40px 15px 15px 15px;
    }
    .slide {
        width: 375px;
    }
    .howorks__left {
        width: 375px;
        height: 440px;
    }
    .howorks-foto {
        width: 375px;
        height: 440px;
    }
    .hero__right {
        width: 375px;
    }
    .footer__content-sing {
        padding: 12px;
        width: 341px;
        height: 64px;
    }
    .footer__content-book {
        margin-right: 0px;
        padding: 15px;
        width: 345px;
        height: 64px;
    }
    .footer__content-book img {
        margin-left: 193px;
    }
    .footer__content-sing img {
        margin-left: 173px;
    }
}
@media (max-width: 360px){
    .slide {
        width: 360px;
    }
    .howorks__left {
        width: 360px;
        height: 440px;
    }
    .howorks-foto {
        width: 360px;
        height: 440px;
    }
    .hero__right {
        width: 360px;
    }
    .footer__content-book {
        height: 55px;
    }
    .footer__content-sing {
        height: 55px;
    }
    .footer__content-book img {
        margin-left: 193px;
    }
    .footer__content-sing img {
        margin-left: 173px;
    }
    .howorks__right-content-footer {
        padding: 0px;
        gap: 10px;
        margin-top: 34px;
    }
    .howorks__right-content-footer-book {
        height: 55px;
    }
    .howorks__right-content-footer-sing {
        height: 55px;
    }
}
@media (max-width: 340px){
.slide {
    width: 340px;
}
.howorks__left {
    width: 340px;
    height: 440px;
}
.howorks-foto {
    width: 340px;
    height: 440px;
}
.hero__right {
    width: 340px;
}
.hero__left-content-heder h1 {
    font-size: 35px;
}
.hero__left-content-footer-tag {
    padding: 14px 12px;
    margin: 30px auto;
    font-size: 16px;
    width: 303px;
}
.benefits__content {
    row-gap: 15px;
}
.benefits__content {
    padding: 21px 23px;
}
.howorks__right-content-footer-book {
    width: 310px;
    height: 53px;
}
.howorks__right-content-footer-book img {
    margin-left: 203px;
}
.howorks__right-content-footer-sing {
    padding: 12px;
    width: 309px;
    height: 53px;
}
.howorks__right-content-footer-sing img {
    margin-left: 177px;
}
.new-title {
font-size: 16px;
}
.faqs__content h2 {
    margin-bottom: 23px;
}
.footer__content-book {
    width: 315px;
    height: 53px;
}
.footer__content-book img {
    margin-left: 163px;
}
.footer__content-sing {
    width: 315px;
    height: 53px;
}
.footer__content-sing img {
    margin-left: 150px;
}
.howorks__right-content-footer {
    margin-top: 80px;
}
.hero__left-content-footer-text {
    margin-top: 160px;
}
.benefits__content li {
    gap: 6px;
}
}
 */
