
@font-face {
    font-family: 'Deutsch Gothic', sans-serif;
    src: url("./fonts/ofont.ru_Deutsch\ Gothic.ttf")format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face{font-family:neutral face;font-style:normal;font-weight:400;src:local('Neutral Face'),url(https://fonts.cdnfonts.com/s/83475/NeutralFace.woff) format('woff')}
@font-face{font-family:neutral face;font-style:normal;font-weight:700;src:local('Neutral Face'),url(https://fonts.cdnfonts.com/s/83475/NeutralFaceBold.woff) format('woff')}
@font-face{font-family:queen love stories free;font-style:normal;font-weight:400;src:local('Queen Love Stories free'),url('https://fonts.cdnfonts.com/s/92171/Queen Love Stories free.woff') format('woff')}
/* @import url('https://fonts.cdnfonts.com/css/queen-love-stories-free');
@import url('https://fonts.cdnfonts.com/css/futura-pt'); */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

:root {
    --container-width: 1440px;
    --sizeindex: calc(1vw + 1vh);
    --secondary:#191919;
    --family: 'MYRIADPRO', sans-serif;
        --font2: 'PT Serif', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ul li {
    list-style: none;
}
body {
 font-family: 'Queen Love Stories free', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #1A1A1A;
    font-size: 20px;
    position: relative;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}
.bone {
    width: 100%;
    max-width: 1400;
    margin: 0 auto;
    padding: 0 24px;
  color: #fff;
  }
.transparent {
    padding: 0 37px;   
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #fff; */
}
.head_menu>ul>li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px!important;
    cursor: pointer;
}
 .header_wrap {
    padding: 5px 0 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
}
.header_w {
    padding: 5px 0 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
}
.head_menu>ul>li {
    display: inline-block;
    position: relative;
    line-height: 27px;
    margin-right: 50px;
}
.head_menu>ul>li a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px!important;
    cursor: pointer;
}
.logo {
margin: 10px 0;
font-family: 'Deutsch Gothic', sans-serif;
/* font-family: 'Queen Love Stories free', sans-serif; */
letter-spacing: 1.3px;
color: #fff;
}
.logo a {
    color: #fff;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
font-family: 'Queen Love Stories free', sans-serif;
    color: rgba(250, 250, 250, .9);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 0 37px;  
}
.nav-list__link {
    color: #e85858;
}
.nav-list__link--active {
color: #fff;
}
.nav__ru {
    color: #fff;
    margin-right: 5px; 
}
.nav__en {
    color: #e85858;
}
.lng_btn {
display: flex;
font-size: 18px;
cursor: pointer;
}
.foto__stella {
   position: absolute; 
   top: 105px;
   right: 65px;
   cursor: pointer;
transition: transform 0.3s ease;
}
/* .foto__stella img {
transition: filter 0.5s linear;
filter: brightness(2) grayscale(1) opacity(0.5);
}

.foto__stella img:hover {
    filter: none;
  } */
/* ****************  галереии ************************* */
.modal-content {
max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.modal-content-img{
width: 100%;
max-height: 800px;
}
.modal-overlay {
    position: relative;
}
.gallery__close-next {
  position: absolute;
    right: 35px;
     top: 25px;
   
    
}
.close-img {
    width: 45px;
    z-index: 200;
    right: 18px;
    margin-bottom: 5px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ffff;
        cursor: pointer; 
}
.nex-img {
    width: 45px;
   
    z-index: 200;
    right: 18px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ffff; 
        cursor: pointer;    
}
.nav__gall-landscape {
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 330px;
    display: flex;
    gap: 15px;
}
.nav__gall-close {
    width: 30px;
}
.nav__gall-history{
cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 330px;
    display: flex;
    gap: 15px;
}
.nav__gall-ruined {
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 330px;
    display: flex;
    gap: 15px;   
}
.nav__gall-ruined:hover {
    transform: scale(1.1); 
}
.nav__gall-history:hover{
transform: scale(1.1);
}
.nav__gall-ruined a {
color: #fff;
}
.nav__gall-landscape:hover{
transform: scale(1.1);
}
.nav__gall-artem {
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 330px;
    display: flex;
    gap: 15px;
}
.nav__gall-artem:hover{
transform: scale(1.1);
}

.gallery__artem{
    display: none;
}
.gallery__history {
    display: none;
}
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 342px;
}
.gallery2 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 2;
}
.gallery3 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 2;
}

.gallery img {
    height: auto;
    width: 160px;
    margin: 10px;
    border-width: 2px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        padding: 5px;
    transition: .3s linear;
    cursor: pointer;
}
.gallery img:hover {
    transform: scale(1.1);
/* filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2)) drop-shadow(0 12px 16px rgba(0,0,0,0.1)); */
};
.gallery2 img:hover {
    transform: scale(1.1);
};
.gallery3 img:hover {
    transform: scale(1.1);
};
.gallery2 img {
    height: auto;
    width: 200px;
    margin: 10px;
    /* box-shadow: 0 0 0 5px #fff, 0 0 0 6px #919191; */
    border-width: 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 5px;
    transition: .3s linear;
    cursor: pointer;
}
.gallery3 img {
    height: auto;
    width: 200px;
    margin: 10px;
    /* box-shadow: 0 0 0 5px #fff, 0 0 0 6px #919191; */
    border-width: 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 5px;
    transition: .3s linear;
    cursor: pointer;
}

.show img {
    opacity: .25;
    pointer-events: none;
}

.active {
    transition: box-shadow .5s linear .5s, top 1s ease-out, left 1s ease-out, transform 1s ease-out, width 1s ease-in, height 1s ease-in;
    box-shadow: 0 0 0 10px #fff;
    filter: drop-shadow(1px 2px 6px #000);
    pointer-events: none;
}

.close {
    position: relative;
    left: 100%;
    height: 20px;
    width: 20px;
    transform: translate(0%, -100%);
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff, 0 0 2px 2px #000;
    font: bold 20px/20px Arial;
    text-align: center;
    background-color: #000;
    color: #fff;
    pointer-events: auto;
    cursor: pointer;
    transition: 1s linear;
    opacity: 0;
}

.active .close:hover {
    transform: translate(0%, -100%) rotate(.5turn);
    transition: 1s ease;
}
.feedbackform {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .feedbackform:hover {  
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
  }
  label {
    color: #fff;
    margin-top: 20px;
    font-family: 'Futura PT', sans-serif; 
    font-size: 16px;
  }
  
.feedback__form {
    color: #5e5e5e;
    padding: 5px;
    margin-top: 5px;
    background: none;
    border-bottom: 1px solid #fff !important;
    resize: none;
    border: none;
  }
  ::-webkit-input-placeholder { /* Для браузеров, основанных на WebKit, таких как Chrome и Safari */
    color: #fff; /* Цвет placeholder */
  }
  
  :-moz-placeholder { /* Для Firefox 18- */
    color: #fff; /* Цвет placeholder */
  }
  
  ::-moz-placeholder { /* Для Firefox 19+ */
    color: #fff; /* Цвет placeholder */
  }
  
  :-ms-input-placeholder { /* Для Internet Explorer */
    color: #fff; /* Цвет placeholder */
  }
  .button__form {
        padding: 0 22px;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        line-height: 43px;
        letter-spacing: 1.3px;
        -webkit-border-radius: 22px;
        border-radius: 22px;
        border: 1px solid #fff;
        min-width: 228px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        cursor: pointer;
        text-transform: uppercase;
        background-color: transparent;
        position: relative;
        margin-top: 25px;
  }
  .button__form:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease; 
  }
.pm-generate {
    width: 20px;
}
.slide {
    max-width: 100%; 
    /* content: ""; */
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        object-fit: cover; /* Подобно backgroundSize: 'cover', чтобы изображение заполняло всю область */
        object-position: center;
        /* background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; */
        height: -webkit-fill-available;
    }
    .feedback__container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        gap: 90px;
        padding: 40px 200px 40px 40px;
    }
.feedback__contact {
 padding: 15px; 
color: #fff;
margin-top: 20px;
font-family: 'Futura PT', sans-serif;
}
.feedback__contact:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}
.feedback__contact p {
margin-bottom: 15px;
}
.feedback__close-button {
    position: absolute;
    top: 0;
    right: 0;
    /* padding: unset; */
    width: 36px;
    /* color: #fff; */
    font-size: 36px;
    margin: 20px;
    border-radius: 8px;
    border: none;
}  

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 15px;
}
.map__google {
    text-align: center;
    margin-bottom: 20px;
}
.social__item-x {
    height: 30px;
    width: 30px;
    display: block; 
    background-size: cover;
    background-image:  url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M13.5222 10.7749L19.4785 4H18.0671L12.8952 9.88256L8.76437 4H4L10.2466 12.8955L4 20H5.41155L10.8732 13.7878L15.2356 20H20L13.5222 10.7749ZM11.5889 12.9738L10.956 12.0881L5.92015 5.03974H8.0882L12.1522 10.728L12.7851 11.6137L18.0677 19.0075H15.8997L11.5889 12.9738Z' fill='%23fff'/%3e %3c/svg%3e");
}
.proxy__link {
    max-width: 180px;
    display: block;
    padding: 9px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 22px;
}
.proxy__link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease; 
}
.sponsor {
    padding: 10px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Futura PT', sans-serif;
}
.sponsor:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}
.sponsor p {
    margin-bottom: 20px;
}
/* ****************** message ******************* */
#gratters-button {
    margin-top: 10px;
  }
  .input1 {
    display: block;
    max-width: 100%;
    min-height: 30px;
    opacity: 0.95;
    box-shadow: 0 11px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 4px 30px 0 rgba(255, 255, 255, 0.2);
    /* border-radius: 4px; */
    opacity: 0.95;
    font-size: 16px;
    padding: 5px;
    border: 0;
    color: #fff;
    background: none;
    margin-bottom: 5px;
  }

  .message {
    max-width: 100%;
    /* min-height: 95px; */
    padding: 7px;
    box-shadow: 0 11px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 4px 30px 0 rgba(255, 255, 255, 0.2);
    display: flex;
    /* background: #fff; */
    justify-content:space-between;
    opacity: 0.95;
    font-size: 14px;
    margin-bottom: 5px;
    align-items: center;
    background-color: #fff;
    color: #383737;
  }
 
  .list {
    max-height: 800px;
    overflow-y: scroll;
    box-shadow: 0 11px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 4px 30px 0 rgba(255, 255, 255, 0.2);
    padding: 8px;
    /* border-radius: 6px; */
    margin-top: 5px;
  }

  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 50px;
    box-shadow: 0 11px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 4px 30px 0 rgba(255, 255, 255, 0.2);
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
  }
  .close-btn:hover {
    box-shadow: 0 11px 25px -4px rgba(0, 0, 0, 0.1), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.1), 0 -10px 15px -1px rgba(255, 255, 255, 0.2), inset 0 3px 4px -1px rgba(255, 255, 255, 0.1), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 4px 30px 0 rgba(255, 255, 255, 0.1);
  }
  label {
    position: relative;
  }

  .gratters {
    position: relative;
    /* display: none; */
    /* top: 150px; */
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    /* background-color: rgb(255, 247, 240); */
    /* border-radius: 6px; */
    /* margin-left: 40px; */
    font-size: 16px;
  /* font-family: 'MYRIADPRO',sans-serif;  */
  color: #fff;
  }
  .gratters p {
   margin-bottom: 10px;
    
  }
  .gratters strong {
    font-family: 'Queen Love Stories free', sans-serif;
    
  }
    
  .check {
    padding: 2px;
    border: 1px solid #79797c;
    border-radius: 3px;
  }

  .remove {
    padding: 2px;
    border: 0;
    color: #fff;
    background: none;
    background: rgba(0, 0, 0, 0.1);
  }
  .publish-btn {
    padding: 5px;
    border: 0;
    color: #fff;
    background: none;
    box-shadow: 0 11px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 4px 30px 0 rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
  }
  /* ****************** end  message ******************* */

  .purpose {
    background: rgba(0, 0, 0, 0.05);
    padding: 20px 20px 0 20px;
  }
    @media (max-width: 1000px){
    .modal-content {
        width: inherit;
       
    }
    }
    @media (max-width: 900px){
        .feedback__container {
   
            gap: 25px;
    padding: 40px;
            justify-content: center;

        }
    }
    @media (max-width: 700px){
    .feedback__container {
       
        /* justify-content: flex-start; */
        /* gap: 55px; */
        /* padding: 40px 200px 40px 40px; */
        flex-direction: column;
        align-items: center;
    }
    .logo h1 {
        font-size: 30px;
    }
    }
 @media (max-width: 600px){
        .foto__stella {
            display: none;
 }
 .transparent {
    padding: 0 25px;
}
.logo h1 {
    font-size: 25px;
}
.lng_btn {
    font-size: 15px;
}
 }
@media (max-width: 480px){
    .head_menu>ul>li {
        margin-right: 20px;
    }
    .head_menu>ul>li a {
        font-size: 12px;
    }
    .logo {
      font-size: 16px;
        }
    /* .nav__new {
        font-size: 16px;
    } */
    .nav h2 {
        font-size: 15px;   
    }
    .main__wrapper {
        padding: 0 15px;
    }
    .transparent {
        padding: 0 10px;
    }
    .logo h1 {
        font-size: 15px;
    }
    .lng_btn {
        font-size: 13px;
    }
}
.purpose-p {
font-family: Arial, sans-serif; 
line-height: 1.35;
font-size: 20px;
}
.purpose-h1 {
 opacity: 0; 
 display: flex;
  font-size: 14px;
}
.navbar {
padding: 0 37px; 
  color: #fff;  
}
hr {
    height: 1px;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    border: none;
}        
hr:after {
    content: "";
    height: 1px;
    background: #4e4c4c;
    position: absolute;
    width: 14%;
    top: 0;
    animation: anim-hr 9s linear infinite;  
}
@keyframes anim-hr {
    0% {
        left: -20%;
    } 
    100% {
        left: 100%;
    }
}
/* ******************   модальное окно ****************** */
.css-modal-details {
    display: inline-block;
    margin-right: 50px; 
    /* height: 60px;
    display:flex;
    align-items:center;
    justify-content:center; */
}
 
/* Кнопка для открытия */
.css-modal-details summary {
    display: inline-flex;
    /* margin: 10px; */
    text-decoration: none;
    position: relative;
    /* font-size: 8px; */
    line-height: 20px;
    /* padding: 12px 30px; */
    color: #FFF;
    font-family: 'Queen Love Stories free', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    /* background: #337AB7; */
    cursor: pointer;
    /* border: 2px solid #BFE2FF; */
    overflow: hidden;
    z-index: 1;   
}
.css-modal-details summary h1{
    font-family: 'Queen Love Stories free', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.5px
}
.css-modal-details summary:hover,
.css-modal-details summary:active,
.css-modal-details summary:focus {
    color: #fff;
}
/* .css-modal-details summary:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid rgb(120, 119, 119);
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
} */
.css-modal-details summary:hover:before,
.css-modal-details summary:active:before,
.css-modal-details summary:focus:before {
    transform: translateX(0);
}
 
/* Кнопка при открытом окне переходит на весь экран */
.css-modal-details details[open] summary {
    cursor: default;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}
 
/* Контейнер, который затемняет страницу */
.css-modal-details details .cmc {
    display:flex;
    align-items:center;
    justify-content:center;    
}
.css-modal-details details[open] .cmc {
    pointer-events: none;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(6, 6, 6, 0.5);
}
 
/* Модальное окно */
.css-modal-details details .cmt {
    /* font-family: Verdana, sans-serif;   */
    font-size: 16px;
    padding: 20px;
    width:80%;
    max-width: 800px;
    max-height: 70%;
    transition: 0.5s;
    /* border: 6px solid #BFE2FF; */
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
}
.css-modal-details details[open] .cmt {
    animation: scale 0.5s ease;
    z-index: 4;
    pointer-events: auto;
}
 
/* Декоративная кнопка с крестиком */
.css-modal-details details[open] .cmc:after {
    content: "";
    width: 40px;
    height: 40px;
    /* border: 6px solid #BFE2FF; */
    border-radius: 12px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2); */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 1s ease;
    cursor: pointer;
}
 
/* Анимации */
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes move {
    0% {
        right: -80px;
    }
    100% {
        right: 20px;
    }
}
@keyframes bg {
    0% {
        background: rgba(51, 122, 183, 0);
    }
    100% {
        background:  rgba(51, 122, 183, 0);
    }
}
.width-text {
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    color: #0000007a;
}
.width-text-905 {
display: flex;
align-items: center;
}
.width-text-905 img{
width: 40px;
    }
/* ****************** end  модальное окно ****************** */
/* ****************** гамбургер   ****************** */
.hamburger-menu {
    position: relative;
    display: none;
  }
  
  .hamburger {
    cursor: pointer;
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hamburger .bar {
    height: 4px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .hamburger.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .menu {
    position: absolute;
    top: 56px;
    right: 0;
    width: 246px;
    background-color: rgb(143, 140, 140);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    border-bottom: 1px solid #ddd;
  }
  
  .menu ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  .menu ul li .lng_btn {
    display: flex;
  }
  .menu ul li summary h1{
    display: block;
 
    color: #333;
    text-decoration: none;
    font-size: 20px!important;
    font-family: 'Queen Love Stories free', sans-serif;
  }
  .menu ul li a:hover {
    background-color: #f0f0f0;
  }
  @media (max-width: 800px){
    .hamburger-menu {
     display: block;
      }
      .header_wrap {
    display: none;
      }
      .lng_btn {
        display: none;
    
    }
  }
  @media (max-width: 480px){
  .hamburger {
    width: 20px;
    height: 17px;
  }
  .hamburger .bar {
    height: 2px;
  }
}
/* ****************** бургер  end ****************** */
